body{
    background-color: #e3f1fa;
    overflow-x: hidden;
}

.btn{
    margin-left: 20px;
    margin-right: 60px;
    background-color: #4cabdf;
    align-self: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.exclude{
    margin-right: auto;
    margin-left: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 25px;

}

.exclude img{
    height: 3.3em;
    padding-left: 15px;
    padding-right: 15px;
}

.btn a{
    color:#f1faf8;
    text-decoration: none;
}

.btn:hover{
    background-color: #3fa1d6;
}

.navContainer{
    z-index: 2;
    border-bottom-style: ridge;
    border-color: #59abd8;
    margin-left: -8px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #4cabdf;
    margin-top: -8px;
    position: fixed;
    z-index: 2;
    width: 100%;
    float: right;
}

.navContainer i{
    color: #f1faf8;
}

.UI{
    position: relative;
    text-align: center;
}

.Uiwords{
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    width: 1000px;
    flex-grow: 0;
    flex-shrink: 0;
    top: 0px;
    color: #e2e8e9;
}

.Uiwords p{
    font-size: 18px;
    color: #e2e8e9;
}

.Ui1 {
    position: relative;
    z-index: 1;
    width: 105%;
    min-width: 500px;
    height: 500px;
    object-fit: cover;
    margin-left: -8px;
    filter: brightness(85%);
}

.Uiboxes{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: -4.5em;
}

.Uibox{
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    background-color: #59abd8;
    padding-left: 30px;
    padding-right: 30px;
    border-top-width: 0px;
    border-top-color: #4ca0ce;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-color: #4ca0ce;
    border-right-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: #4ca0ce;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-left-color: #4ca0ce;
    border-left-style: solid;
}

.Aboxes{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

.Abox{
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    width: 340px;
    background-color: #60b0e2;
    text-align: center;
    border-style: solid;
    border-color: #37a5e0;
    border-width: 2px;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
}

.fuckinwordsidk{
    text-align: center;
    margin-top: 8em;
}

.Abox p{
    font-size: 18px;
}

h3{
    font-size: 22px;
    color: #f1faf8;
}

p{
    line-height: 1.5;
    color: #f1faf8;
}

h1{
    font-size: 50px;
}