body{
    background-color: #e3f1fa;
}

.btn{
    margin-left: 20px;
    margin-right: 60px;
    background-color: #4cabdf;
    align-self: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.exclude{
    margin-top: 10px;
    margin-right: auto;
    margin-left: 100px;
    padding-right: 10px;
}

.exclude img{
    height: 3.3em;
    padding-left: 15px;
    padding-right: 15px;
}

.btn a{
    color:#f1faf8;
    text-decoration: none;
}

.btn:hover{
    background-color: #3fa1d6;
}

.navContainer{
    z-index: 2;
    border-bottom-style: ridge;
    border-color: #59abd8;
    margin-left: -8px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #4cabdf;
    margin-top: -8px;
    position: fixed;
    z-index: 2;
    width: 100%;
    float: right;
}

.navContainer i{
    color: #f1faf8;
}

.Ui1 {
    position: relative;
    z-index: 1;
    width: 105%;
    min-width: 500px;
    height: 500px;
    object-fit: cover;
    margin-left: -8px;
}

.Uiboxes{
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: -4.5em;
    text-align: center;
}

.Uibox{
    flex-grow: 1;
    flex-shrink: 1;
    width: 1000px;
    justify-content: space-between;
    background-color: #59abd8;
    min-width: 100px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-width: 0px;
    border-top-color: #4ca0ce;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-color: #4ca0ce;
    border-right-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: #4ca0ce;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-left-color: #4ca0ce;
    border-left-style: solid;
}

.Aboxes{
    margin-top: 3em;
    display: flex;
    margin-left: 9em;
    margin-right: 9em;
}

.Abox{
    position: relative;
    width: 1000px;
    background-color: #4cb3f3;
    text-align: center;
    border-style: solid;
    border-color: #37a5e0;
    border-width: 2px;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
}

.fuckinwordsidk{
    text-align: center;
    margin-top: 8em;
}

.Abox p{
    font-size: 18px;
}

h3{
    font-size: 22px;
    color: #f1faf8;
}

p{
    line-height: 1.5;
    color: #f1faf8;
}