body{
    background-color: #e3f1fa;
}

.btn{
    margin-left: 20px;
    margin-right: 60px;
    background-color: #42a2d6;
    align-self: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

.exclude{
    margin-right: auto;
    margin-left: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 25px;
}

.exclude img{
    height: 3.3em;
    padding-left: 15px;
    padding-right: 15px;
}

.btn a{
    color:#f1faf8;
    text-decoration: none;
}

.navContainer{
    z-index: 2;
    border-bottom-style: ridge;
    border-color: #59abd8;
    margin-left: -8px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #4cabdf;
    margin-top: -8px;
    position: fixed;
    z-index: 2;
    width: 100%;
    float: right;
}

.navContainer i{
    color: #f1faf8;
}
