@media (min-width: 992px){
    body{
        background-color: #e3f1fa;
        font-family: PT-sans, sans-serif, "asap";
        font-weight: 600;
        font-style: normal;
    }

    .formbtn {
        background-color: #4cabdf;
        border-radius: 15em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .dropbtn{
        display: none;
        position: absolute;
        background-color: #e3f1fa;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown-content{
        display: flex;
    }

    .btn{
        margin-left: 20px;
        margin-right: 60px;
        background-color: #42a2d6;
        align-self: center;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 30px;
    }

    .exclude{
        margin-right: auto;
        margin-left: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        border-radius: 25px;
    }

    .exclude img{
        height: 3.3em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn a{
        color:#f1faf8;
        text-decoration: none;
    }

    .navContainer{
        z-index: 2;
        border-bottom-style: ridge;
        border-color: #59abd8;
        margin-left: -8px;
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        justify-content: flex-end;
        background-color: #4cabdf;
        margin-top: -8px;
        position: fixed;
        z-index: 2;
        width: 100%;
        float: right;
    }

    .navContainer i{
        color: #f1faf8;
    }

    .paylink{
        display: flex;
        padding-top: 4em;
        flex-direction: column;
        text-align: center;
    }

    .colors{
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5em;
        padding: 1em;
        background-color: #5cb8e9;
    }

    .moving {
        margin-top: -1em;
    }

    .moving1 {
        margin-top: -.5em;
    }

    ul {
        list-style-type: none;
    }

    li {
        justify-self: center;
        transform: translate(-8%, 50%);
    }

    textarea{
        font-family: sans-serif;
        font-size: 1.25em;
    }

    a {
        color: black;
        text-decoration: none;
    }

    input{
        font-size: 1.25em;
        width: 364px;
    }

    h1 {
        color: #f1faf8;
    }

    p {
        color: #f1faf8;
    }

    li {
        color: #f1faf8;
    }
}
/*Mobile View code :D*/

@media (max-width: 600px) {
    body{
        background-color: #e3f1fa;
        font-family: PT-sans, sans-serif, "asap";
        font-weight: 600;
        font-style: normal;
    }

    .formbtn {
        background-color: #4cabdf;
        border-radius: 15em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        flex-wrap: wrap;
    }

    .btn{
        align-self: center;
        text-align: center;
    }

    .exclude{
        margin-right: auto;
        margin-left: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        border-radius: 25px;
    }

    .exclude img{
        height: 3.3em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn a{
        color:#c91414;
        text-decoration: none;
    }

    .dropdown-content{
        position: absolute;
        overflow: auto;
        z-index: 1;
    }

    .navContainer{
        z-index: 2;
        border-bottom-style: ridge;
        border-color: #59abd8;
        margin-left: -8px;
        padding-bottom: 5px;
        padding-top: 5px;
        justify-content: flex-end;
        background-color: #4cabdf;
        margin-top: -8px;         
        position: fixed;
        z-index: 2;
        width: 100%;
        float: right;
    }

    .navContainer i{
        color: #f1faf8;
    }

    .paylink{
        display: flex;
        padding-top: 4em;
        flex-direction: column;
        text-align: center;
    }

    .colors{
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5em;
        padding: 1em;
        background-color: #5cb8e9;
    }

    .moving {
        margin-top: -1em;
    }

    .moving1 {
        margin-top: -.5em;
    }

    ul {
        list-style-type: none;
    }

    li {
        justify-self: center;
        transform: translate(-8%, 50%);
    }

    textarea{
        font-family: sans-serif;
        font-size: 1.25em;
    }

    a {
        color: black;
        text-decoration: none;
    }

    input{
        font-size: 1.25em;
        width: 364px;
    }

    h1 {
        color: #f1faf8;
    }

    p {
        color: #f1faf8;
    }

    li {
        color: #f1faf8;
    }
}
